{% extends "base.html" %}
{% block title %}{{category.title}}{% endblock %}


{% block content %}
{% load static %}

{% for post in posts %}

{% if post.status == 'published' %}
<div class="card my-5 p-5" style="width: 100%; border-color: blue">
    <div class="card-block">
        <h1 class="card-title" >{{post.title}}</h1>
        <a href="/myblog/profile/{{post.publisher.user.username}}/" class="card-subtitle text-muted">{{post.publisher.user.username}}</a>
    </div>
    <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]"
         src="{{post.image.url}}"
         data-holder-rendered="true" style=" display: block;">
    <div class="card-block">
        {% if post.caption %}
        <hr>
        <div class="text-center">{{post.caption}}</div>
        <hr>
        {% endif %}
        {% if post.tags %}
        {% for tag in post.tags.all %}
        <p style="color: blue">#{{tag.name}}</p>
        {% endfor %}
        <hr>
        {% endif %}
        <small class="card-text">{{post.created_at}}</small>
        <a href="/myblog/post-detail/{{post.slug}}/" class="card-link" style="float: right">comments</a>
    </div>
</div>
{% endif %}

{% endfor %}



{% endblock content %}