{% extends "base.html" %}
{% block title %}Category{% endblock %}


{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Category title</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                <tr>
                    <td style="width: 85%">{{category.title}}</td>
                    <td>
                        <a type="button" class="btn btn-primary" href="/myblog/categories/{{category.title}}"><i class="far fa-eye"></i></a>
                        <a type="button" class="btn btn-success" href="/myblog/categories/edit/{{category.title}}"><i class="fas fa-edit"></i></a>
                        <a type="button" class="btn btn-danger" href="/myblog/categories/delete/{{category.title}}"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a type="button" class="btn btn-primary" href="{% url 'add-category' %}" style="width: 100%">Add a new category</a>
{% endblock content %}