{% extends "base.html" %}
{% block title %}Contact us{% endblock %}

{% block content %}
{% load static %}

<!--contact us form-->


<link rel="stylesheet" href="{%static 'contact-us-styles.css' %}"></link>
<div class="fcf-body">

    <div id="fcf-form">
    <h3 class="fcf-h3">Contact us</h3>

    <form id="fcf-form-id" class="fcf-form-class" method="post" >
            {% csrf_token %}
            {{form.non_field_errors}}
        <div class="fcf-form-group">
            <label for="{{ form.name.id_for_label }}" class="fcf-label">Your name</label>
            <div class="fcf-input-group">
                <input type="text" id="Name" name="name" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="{{ form.email.id_for_label }}" class="fcf-label">Your email address</label>
            <div class="fcf-input-group">
                <input type="email" id="Email" name="email" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="{{ form.email.id_for_label }}" class="fcf-label">Your message</label>
            <div class="fcf-input-group">
                <textarea id="Message" name="message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block" >Send Message</button>
        </div>



    </form>
    </div>

</div>

{% endblock content %}


