{% extends "base.html" %}
{% block title %}Post your photo{% endblock %}


{% block content %}
{% load static %}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="{% static 'create-post-css.css' %}">
<script src="{% static 'create-post-js.js' %}"></script>
<style>
    input, textarea, select{
    width:100%;
}
    label{
        display: block;
        width : 100px:
    }
</style>
<div class="row justify-content-center ">
    <div class="col-md-6">
        <article class="card">
            <header class="card-header">
                <h4 class="card-title text-center mt-2">Post your photo</h4>
            </header>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">

                    <div class="input-group image-preview">
                        <input type="text" class="form-control image-preview-filename" disabled="disabled">
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span for="id_image" class="image-preview-input-title">Browse</span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" id="id_image" name="image"/>
                    </div>
                </span>
                    </div>

                    <br>
                    <div class="form-group">
                        {{ form.title.errors }}
                        <label for="{{ form.title.id_for_label }}">Title</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        {{ form.caption.errors }}
                        <label for="{{ form.caption.id_for_label }}">Caption</label>
                        {{ form.caption }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.category.errors }}
                        <label for="{{ form.category.id_for_label }}">Category</label>
                        {{ form.category }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.tags.errors }}
                        <label for="{{ form.tags.id_for_label }}">Tag</label>
                        {{ form.tags }}
                    </div>
                    {% if form.status %}
                    <div class="fieldWrapper">
                        {{ form.status.errors }}
                        <label for="{{ form.status.id_for_label }}">Status</label>
                        {{ form.status }}
                    </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-block">Post</button>
            </div>
            </form>
        </article>
    </div>
</div>
</div>


{% endblock content %}
